#room-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25vh 25vw;
}
#room-checkbox {
  display: inline-block;
  margin: 0 0.5rem;
}
.room-check-wrapper {
  align-self: flex-end;
  margin: 1rem 0;
}
.room-description {
  align-self: flex-end;
}
