#room-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25vh 25vw;
}
#room-checkbox {
  display: inline-block;
  margin: 0 0.5rem;
}
.room-check-wrapper {
  align-self: flex-end;
  margin: 1rem 0;
}
.room-description {
  align-self: flex-end;
}
.room-warnings {
  direction: rtl;
  padding: 0;
}
.room-warnings li {
  list-style-type: decimal;
}
.input-name-wrapper {
  align-items: center;
  align-self: flex-end;
  width: "100%";
  margin-bottom: 1rem;
}

@media screen and(max-width:1024px) {
  #room-page {
    padding: 25vh 10vw;
  }
}
