#video-page {
  display: flex;
  flex-direction: column;
  padding: 0 5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  direction: rtl;
  height: 100%;
  position: relative;

  /* background: linear-gradient(
    21deg,
    rgba(33, 43, 17, 1) 5%,
    rgba(37, 31, 33, 1) 47%,
    rgba(53, 18, 57, 1) 100%
  ); */

  /* background-size: 400% 400%; */
  color: white;
  /* animation: gradient 20s ease infinite; */
}
.video-show {
  opacity: 1;
}
.video-hide {
  opacity: 0;
  pointer-events: none;
}
.video-back {
  position: absolute;
  top: 2px;
  left: 2px;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#fullscreen-wrapper {
  width: fit-content !important;
  display: flex;
  justify-content: center;
}
#video-container {
  position: relative;
  width: fit-content !important;

  background-color: black;
  display: flex;
  justify-content: center;
  transition: all 0.3s;
}

#my-video {
  /* width: 100%; */
  /* box-shadow: 0 0 0px 1px white; */
  max-width: 100%;
  height: auto;
  /* border: 1px solid white; */
}
#video-container:focus-visible {
  border: none;
  outline: none;
}
#my-video.full {
  border: none;
}
.controls {
  direction: ltr;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 1) 20%,
    rgba(255, 255, 255, 0) 100%
  );
  padding: 0 1rem;
  padding-top: 3rem;
  padding-bottom: 1rem;
  position: absolute;
  width: 100%;
  bottom: 0%;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  opacity: 1;
  z-index: 1;
  transition: opacity 0.2s, z-index 0.2s;
}
.hide {
  opacity: 0;
  z-index: -1;
}

.upper-contorls {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.btn-play {
  cursor: pointer;
  margin: 0 1.5rem;
  filter: invert(97%) sepia(19%) saturate(10%) hue-rotate(336deg)
    brightness(103%) contrast(102%);
}
.icon-flipped {
  transform: rotateZ(180deg);
}
.icon-sm {
  width: 30px;
  height: 30px;
  filter: invert(97%) sepia(19%) saturate(10%) hue-rotate(336deg)
    brightness(103%) contrast(102%);
  cursor: pointer;
}
.video-range {
  cursor: pointer;
}
.control-time-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  margin-bottom: 1rem;
  pointer-events: none;
}

.caption {
  direction: rtl;
  text-align: center;
  align-self: center;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 0.5rem;
}
#caption-text {
  color: white;
  font-size: 20px;
  text-shadow: 0 0 10px black;
  font-weight: 900;
}

.controls.hide + .caption {
  bottom: 10%;
}
.video-configs {
  width: 50%;
}
.key-enable {
  margin: 1rem 0;
}
.Toastify,
.video-toast {
  opacity: 1;
  pointer-events: visible;
}

.messages-wrapper {
  direction: rtl;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 1px;
  top: 1px;
  opacity: 1;
  transition: all 0.5s;
  z-index: 1;
}

.msg-input {
  direction: rtl;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: all 0.3s;
  z-index: 5;
}
.msg-hide {
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}
.load-from-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.users {
  border: 1px solid white;
  border-radius: 5px;
  padding: 1rem;
}
.users ul {
  overflow-y: auto;
  max-height: 400px;
}
.scene-upper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1024px) {
  .scene-upper {
    grid-template-columns: 1fr;
  }
  .users {
    max-height: 200px;
  }
  .users ul {
    max-height: 100px;
  }
  .not-fullscreen .msg-input,
  .not-fullscreen .messages-wrapper {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
  }

  .msg-input {
    max-width: 200px;
  }
  .msg-input button {
    max-width: 50px;
    font-size: 0.8rem;
    padding: 0.1rem 0.3rem;
  }
  .video-configs {
    width: 100%;
  }
  .key-enable {
    margin: 4rem 0;
  }
  .controls {
    padding-top: 0;
  }
  .icon-sm {
    --size: 15px;
    width: var(--size);
    height: var(--size);
  }
  .control-time-wrapper {
    margin-bottom: 0;
  }
  .control-time-wrapper h4 {
    margin-bottom: 0;
  }
  .control-time {
    font-size: 1rem;
    margin-bottom: 0.2rem;
  }
  .upper-contorls {
    margin-bottom: 1rem;
  }
  #video-page {
    padding: 3rem 1rem;
  }
  #caption-text {
    font-size: 10px;
  }
}
