#video-page {
  display: flex;
  flex-direction: column;
  padding: 0 5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  direction: rtl;
  height: 100%;
  position: relative;
  background: black;
  /* background: linear-gradient(
    21deg,
    rgba(33, 43, 17, 1) 5%,
    rgba(37, 31, 33, 1) 47%,
    rgba(53, 18, 57, 1) 100%
  ); */

  /* background-size: 400% 400%; */
  color: white;
  /* animation: gradient 20s ease infinite; */
}
.video-back {
  position: absolute;
  top: 2px;
  left: 2px;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#video-container {
  position: relative;
  width: fit-content !important;
  margin-top: 2rem;
  background-color: black;
  display: flex;
  justify-content: center;
}

#my-video {
  /* width: 100%; */
  /* box-shadow: 0 0 0px 1px white; */
  max-width: 100%;
  height: auto;
  border: 1px solid white;
}
#video-container:focus-visible {
  border: none;
  outline: none;
}
#my-video.full {
  border: none;
}
.controls {
  direction: ltr;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 1) 20%,
    rgba(255, 255, 255, 0) 100%
  );
  padding: 0 1rem;
  padding-top: 3rem;
  padding-bottom: 1rem;
  position: absolute;
  width: 100%;
  bottom: 0%;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  opacity: 1;
  z-index: 1;
  transition: opacity 0.2s, z-index 0.2s;
}
.hide {
  opacity: 0;
  z-index: -1;
}

.upper-contorls {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.btn-play {
  cursor: pointer;

  filter: invert(97%) sepia(19%) saturate(10%) hue-rotate(336deg)
    brightness(103%) contrast(102%);
}
.icon-sm {
  width: 30px;
  height: 30px;
  filter: invert(97%) sepia(19%) saturate(10%) hue-rotate(336deg)
    brightness(103%) contrast(102%);
  cursor: pointer;
}
.video-range {
  cursor: pointer;
}
.control-time-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  margin-bottom: 1rem;
  pointer-events: none;
}

.caption {
  direction: rtl;
  text-align: center;
  align-self: center;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.33);
  padding: 0.5rem;
}
.caption h3 {
  color: white;
  font-size: 3rem;
  text-shadow: 0 0 10px black;

  font-weight: 900;
}
.controls.hide + .caption {
  bottom: 10%;
}
.video-configs {
  width: 50%;
}
.key-enable {
  margin: 1rem 0;
}
@media screen and (max-width: 1024px) {
  .video-configs {
    width: 100%;
  }
  .key-enable {
    margin: 4rem 0;
  }
  .controls {
    padding-top: 0;
  }
  .icon-sm {
    --size: 15px;
    width: var(--size);
    height: var(--size);
  }
  .control-time {
    font-size: 1rem;
    margin-bottom: 0.2rem;
  }
  .upper-contorls {
    margin-bottom: 0.4rem;
  }
  #video-page {
    padding: 3rem 1rem;
  }
  .caption h3 {
    font-size: 1rem;
  }
}
.load-from-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
